/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	background: #fff;
	font-family: Poppins, sans-serif;
	overflow-x: hidden;
}


#mainNavbar .navbar-brand{

	color: #219ebc;
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link{
	color: #219ebc;
	transition: 1s;
}

#mainNavbar .nav-link:hover{
	color: #06d6a0;
	background: #fff;
}

#mainNavbar{
	font-size: 1rem;
	font-weight: 200;
}


#headingText h2{
	color: #219ebc;
	font-size: 3rem;
	font-weight: 100;
}

.header{
	color: #219ebc;
	font-weight: 100;
	font-size: 2.2rem;
}

.lead-p p{
	color: #000;
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 2;
}

#content-1, #content-2, #content-3, #content-4, #content-5, #content-6{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#content{
	margin-bottom: 3rem;

}

.navbar.scrolled{
	background: #343a40;
	transition: background 500ms;
}

#footer{
	background: #000;
	color: #fff;
	margin-top: 2rem;
	padding: 2rem;
}

.social-1{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.social-1 a{
	transform: scale(0.5);
	filter: invert(1);
}

.social-1{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}

.social-1 img{
	width: 2rem;
	margin-left: 1rem;
	transition: 500ms;
}

.social-1 li img:hover{

	transform:scale(0.5) translate(-15px);

}

a{
	text-decoration: none;
	color: #571089;
}

.mail a{
	color: #fff;
	transition: 500ms;
}

.mail a:hover{
	color: #00afb9;
	letter-spacing: 3px;
}
.img-style{
	transition: 2s;
}

.img-style:hover{
	transform:scale(0.5) translate(-15px);
}

@media(max-width: 500px){

	#headingText h2{
	font-size: 1.4rem;
}

.header{
	font-size: 1.2rem;
}

.my-card{
	font-size: 0.5rem;
}

#topHeader{
	background: #8d99ae;
}
}